@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
.background-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60rem;
  z-index: 1;
}

.background-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.2; 
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(0deg, #8b0c0c, #8b0c0c 1px, #ffffff 1px, #ffffff);
}
.buttons::before {
  content: 'The goal is to be the first player to reach set total points. Points accumulate with each roll, but rolling a 1 ends your turn and cancels your current points.';
  position: absolute;
  top: -165px;
  width: 550px;
  text-align: center;
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1;
}

main .player h1 {
  color: green;
}

.player {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
}
.player button {
  all: unset;
  text-align: center;
  .current-score {
    outline: 2px black dashed;
    border-radius: 5px;
    padding: 1rem;
  }
}

.buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.buttons img{
  width: 150px;
  height: 150px;
}
.buttons button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.buttons button:disabled {
  pointer-events: none;
}

.buttons button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.buttons button:active {
  box-shadow: none;
  transform: translateY(0);
}

.hidden {
    display: none;
}
.player--winner {
  /* background-color: green; */
}
.player--active {

}

.shaking {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(-2px, -2px) rotate(-10deg); }
  20% { transform: translate(2px, -2px) rotate(10deg); }
  30% { transform: translate(-2px, 2px) rotate(-10deg); }
  40% { transform: translate(2px, 2px) rotate(10deg); }
  50% { transform: translate(-2px, -2px) rotate(-10deg); }
  60% { transform: translate(2px, -2px) rotate(10deg); }
  70% { transform: translate(-2px, 2px) rotate(-10deg); }
  80% { transform: translate(2px, 2px) rotate(10deg); }
  90% { transform: translate(-2px, -2px) rotate(-10deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}